<title>For Sale</title>
<link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
<div id="content">
    <div id="logo">
        <img src="../static/images/logo.gif" alt="This is logo">		
    </div>
    <ul id="nav">
        <li><a href="main.html">Home</a></li>
        <li><a href="forsale.html">For Sale</a></li>
        <li><a href="Repairs.html">Repairs</a></li>
        <li><a href="About.html" class="on">About</a></li>
        <li><a href="Contact.html">Contact</a></li>
        <P>It's company started work with music instruments very recently but they work very hard for their customers </P>	
        <p>If you would like to add something new in web-site call me on +998887879644</p>
        <P>I hope this company will be so better than other company</P>

    </ul>
</div>
</body>
</html>