<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>For Sale</title>
	<link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
	<div id="content">
		<div id="logo">
			<img src="../static/images/logo.gif" alt="This is logo">		
		</div>
		<ul id="nav">
			<li><a href="main.html">Home</a></li>
			<li><a href="forsale.html" class="on">For Sale</a></li>
			<li><a href="Repairs.html">Repairs</a></li>
			<li><a href="About.html">About</a></li>
			<li><a href="conect.html">Contact</a></li>
			<div class="finish">
			<img 
			src="../static/images/drums.png" 
			alt="This is photo" 
			width="500"
			height="500" >
	</div>
		<img 
		src="../static/images/tuba.jpg" 
		alt="This is photo" 
		width="500"
		height="500" 
	>
<div class="finish">
	<img 
	src="../static/images/Violin.jpg" 
	alt="This is photo" 
	width="500"
	height="500" 
>
</div>
<img 
src="../static/images/Mandolin.jpg" 
alt="This is photo" 
width="500"
height="500" 
>
<img 
src="../static/images/gitar.jpg" 
alt="This is photo" 
width="500"
height="500" 
>
<img 
src="../static/images/uk.jpg" 
alt="this is photo"
width="500"
height="500" 
>

		
		</ul>
	</div>
</body>
</html>